:root{
    margin: 0px 50px;
  }
.footer {
    background-color:white;
}
.navbar{
    background-color:#222222;
}
#GFG {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    
}
.title{
    font-family: 'Cairo Play', sans-serif;
    font-family: 'Libre Baskerville', serif;
    color: white;
}
#GFG::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.main-nav {
    /* attach navbar to bottom of page */
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3rem 1.5rem 3rem;
} 

#favorites-table tr th a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
a img{
    max-height: 10%;
    max-width: 10%;
    margin-left: 25px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#genre-select {
    display: none;
}